<div class="my-5 container w-50">
    <h1 class="text-center">Login Page</h1>
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">username</label>
        <input
          #inputEmail="ngModel"
          [(ngModel)]="userName"
          name="userName"
          type="text"
          class="form-control"
          id="userName"
          aria-describedby="emailHelp"
          required
        />
        @if (inputEmail.invalid && inputEmail.touched) {
  
        <div class="text-danger fw-bolder">Invalid Email</div>
        }
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          #passwordInput="ngModel"
          [(ngModel)]="password"
          name="password"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          required
          pattern="[a-zA-Z0-9]*"
        />
        @if (passwordInput.invalid && passwordInput.touched) {
  
        <div class="text-danger fw-bolder">Invalid Email</div>
        }
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button
        [disabled]="loginForm.invalid"
        type="submit"
        class="btn btn-primary"
      >
        Submit
      </button>
    </form>
  </div>
  <!-- <router-outlet></router-outlet> -->
  